.fff-draw-main {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .fff-draw-main #draw-components {
    width: 160px;
    position: absolute; }
    .fff-draw-main #draw-components .component-box {
      cursor: pointer;
      width: 30px;
      height: 30px; }
  .fff-draw-main #draw-layout {
    background: #b6b6b6;
    margin-left: 160px;
    height: 800px;
    overflow: scroll; }
    .fff-draw-main #draw-layout #draw-container {
      position: relative;
      padding: 1000px;
      width: 3250px;
      height: 3500px;
      overflow: hidden; }
      .fff-draw-main #draw-layout #draw-container #designer_canvas {
        width: 100%;
        height: 100%;
        position: relative; }
        .fff-draw-main #draw-layout #draw-container #designer_canvas #canvas-background {
          width: 1250px;
          height: 1500px;
          background: ghostwhite;
          z-index: 0; }
        .fff-draw-main #draw-layout #draw-container #designer_canvas .shape-box {
          z-index: 1;
          cursor: move;
          position: absolute;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .fff-draw-main #draw-layout #draw-container #designer_canvas .shape-box .shape-canvas {
            width: 100%;
            height: 100%; }
          .fff-draw-main #draw-layout #draw-container #designer_canvas .shape-box .shape-text {
            cursor: move;
            border: none;
            background: inherit;
            resize: none;
            max-width: calc(100% - 26px);
            top: 50%;
            left: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
            .fff-draw-main #draw-layout #draw-container #designer_canvas .shape-box .shape-text:focus {
              outline: -webkit-focus-ring-color auto 5px; }
        .fff-draw-main #draw-layout #draw-container #designer_canvas .linker_box {
          cursor: default;
          z-index: 2; }
        .fff-draw-main #draw-layout #draw-container #designer_canvas #shape_controls {
          cursor: move;
          height: 70px;
          z-index: 3;
          display: none;
          position: absolute; }
          .fff-draw-main #draw-layout #draw-container #designer_canvas #shape_controls .shape_controller {
            position: absolute;
            border: 1px solid #883333;
            width: 8px;
            height: 8px;
            z-index: 1;
            display: block;
            background: white; }

.fff-draw-tools .btn-group > .toolbar-button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #cccccc; }
.fff-draw-tools .btn-group > .toolbar-button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
.fff-draw-tools .btn-group .toolbar-button {
  cursor: pointer;
  padding: 4px 12px;
  display: inline-block;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); }
  .fff-draw-tools .btn-group .toolbar-button:hover {
    background: #e6e6e6; }
  .fff-draw-tools .btn-group .toolbar-button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .fff-draw-tools .btn-group .toolbar-button .icon {
    color: #333333;
    font-size: 16px; }
.fff-draw-tools .btn-group .active {
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4); }
  .fff-draw-tools .btn-group .active:hover {
    background-image: linear-gradient(to bottom, #5cb6d4, #308caa); }
  .fff-draw-tools .btn-group .active:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .fff-draw-tools .btn-group .active .icon {
    color: white; }
.fff-draw-tools .btn-group .toolbar-button[disabled='disabled'] {
  background: #e6e6e6;
  color: #333333;
  background-image: none;
  cursor: not-allowed; }
  .fff-draw-tools .btn-group .toolbar-button[disabled='disabled']:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .fff-draw-tools .btn-group .toolbar-button[disabled='disabled'] .icon {
    color: #868686;
    cursor: not-allowed; }

/*# sourceMappingURL=freeFlowChart.css.map */
